<%= flash[:notice] %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user: @user %>

      <%= render 'books/list', book: @newbook %>
    </div>
    <div class="col-md-7 offset-md-1">
        <h2>Book detail</h2>
        <table>
          <tbody>
            <tr>
              <td>
                <%= image_tag @user.get_profile_image(100,100) %>
                <%= link_to user_path(@user) do %>
                <%= @user.name %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
                <% end %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book), class: "btn btn-sm btn-danger",　method: :delete, date: {confirm: "are you sure?"} %></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
</div>